body{
	height: 100vh;
	width: 100vw;
	background-image: url('../images/warArenaBG.jpeg');
	background-size: fill;
	background-position: center;
	/* background-color: rgb(72, 82, 76); */
	overflow: hidden;
}
img{ 
	height: 170px;
	width: 100px;
} 
h1 {
	font-size: 60pt;
}
h3{
	font-size: 20pt;
}
@keyframes fade-in{
	100%{
		opacity: 1;
	}
}
@keyframes fade-out{
	0%{
		opacity: .0;

	}
	50%{
		opacity: .0;
		margin-top: -105px;
	}
	100%{
		opacity: 0;
		display: none;
		margin-top: -125px;
	}
}
@keyframes basicAttack {
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(500px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes growAttack{
	50%{
		transform: scaleX(9);
		/* transform: scaleY(9); */
	}
	100%{
		transform: scaleX(1);
		/* transform: scaleY(1); */
	}
}
@keyframes matrixAttack{
	50%{
		transform: matrix(1, -0.3, 0, 1, 0, 0)
	}
	100%{
		transform: matrix(0, 0, 0, 0, 0, 0);
	}
}
@keyframes drop-in{
	100%{
		transform: translateY(400%);
	}
}
@keyframes spinAttack{
	100%{
		transform: rotate(1080deg)
	}
}
@keyframes pull-out{
	transform: translateY(-400%);
}
.absolute{
	position: absolute;
}
.allUses{
	font-weight: bold;
}
.arena{
	height: 100vh;
	width: 100vw;
	display: flex;
}
.basic-attack{
	animation: basicAttack 2s forwards;
}
.spin-attack{
	animation: spinAttack 2s forwards;
}
.matrix-attack{
	animation: matrixAttack 2s forwards;
}
.grow-attack{
	animation: growAttack 2s forwards;
}
.button-box{
	transition: 4s ease 1s;
}
.battle-menu{
	height: 300px;
	width: 600px;
	text-align: left;
	padding: 10px 50px 10px 50px;
	border-radius: 10px;
	background-image: linear-gradient(hsl(39, 66%, 26%), #e6bf42, hsl(39, 66%, 26%));
	opacity: .8;
	margin-left: 20px;
	margin-top: 280px;
	position: absolute;
	z-index: 3;
	display: none;
	/* display: grid; */
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
}
.characters{
	height: 75px;
	width: 75px;
	opacity: 0;
	cursor: pointer;
}
.cpuBar{
	height: 20px;
	width: 400px;
	color: white;
	font-size: 20pt;
	background-color: grey;
	border: solid black 1px;
	position: absolute;
	z-index: 3;
	margin-left: 830px;
	margin-top: -40px;
	display: none;
	border-radius: 10px;
}
.cpu-health{
	width: 100%;
	height: 100%;
	background-color: green;
	border-radius: 10px;
}
 .character-name{
	position: absolute;
	font-style: italic;
}
.cpu-name{
	position: absolute;
	font-style: italic;
	text-align: right;
}
.cpu-move{
	background-image: linear-gradient(hsl(39, 66%, 26%), #e6bf42, hsl(39, 66%, 26%));
	height: 200px;
	width: 300px;
	position: absolute;
	border-radius: 10px;
	z-index: 3;
	margin: 200px 0px 0px 880px;
	display: none;
} 
.cpu-move-result{
	margin-top: 20%;
}
.dmg-amount{
	font-weight: bold;
}
.border{
	cursor: pointer;
	display: grid;
}
.border:hover{
	border: solid black 2px;
}

.health{
	width: 100%;
	height: 100%;
	background-color: green;
	border-radius: 10px;
}
.healthBar{
	height: 20px;
	width: 400px;
	color: white;
	font-size: 20pt;
	background-color: grey;
	border: solid black 1px;
	position: absolute;
	z-index: 3;
	margin-left: 30px;
	margin-top: 50px;
	display: none;
	border-radius: 10px;
}
.moves{
	font-weight: bold;
}
.none{
	display: none;
}
.puller-out{
	pull-out 5s ease-in-out 1s forwards;
}
.start-button{
	height: 100px;
	width: 300px;
	border-radius: 8px;
	font-size: 60pt;
	background-image: linear-gradient(rgb(22, 122, 13), #66ff00, rgb(22, 122, 13));
	color: white;
	transform: translateY(-100%);
	cursor: pointer;
}
.title-text{
	color: white;
	font-size: 60pt;
	z-index: 5;
	opacity: 0;
}
.top-text{
	color: white;
	font-size: 60pt;
	opacity: 0;
}
.fader-in{
	animation: fade-in 2s ease-in-out 2s forwards;
}
.fader-out{
	animation: fade-out 2s ease-in-out 0s forwards;
}
#char1{
	margin: 80px;
	margin-top: 120px;
}
#char2{
	margin: 40px;
	margin-top: 80px;
}
#char3{
	margin: 80px;
	margin-top: 130px;
}
#char4{
	margin: 80px;
	margin-top: 120px;
}
#char5{
	margin: 40px;
	margin-top: 90px;
}
#char6{
	margin: 80px;
	margin-top: 130px;
}
